/* .quiz-summery {
    font-family: sans-serif;
}

h1 {
    
    font-size: 3rem;
    text-align: center;
    margin-top: -1.5rem;
}

.status {
   background-color: #f8f8f8;
   max-width: 50%;
   padding: 1.5rem 2rem 2rem 2rem;

}

.status h4, .status h2 {
    text-align: center;
} */



