.instruction {
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1.5rem 3rem;
}

h1 {
    color: black;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}

.browser-default {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.browser-default li {
    list-style-type: disc;
}